# Папка bin, obj и .vscode
bin/
obj/
.vscode/

# Пакеты NuGet
*.nuget.props
*.nuget.targets
*.user

# Файлы отладки Visual Studio
*.pdb
*.dll
*.exe

# Файлы сборки MSBuild
*.msi
*.exe
*.dll
*.pdb
*.cache
*.log
*.vspscc
*.vssscc
.builds

# Файлы сборки на платформе .NET Core
*.ide
*.suo
*.userprefs
*.usertasks

# Файлы ReSharper
_ReSharper*/
*.[Rr]e[Ss]harper

# Файлы Rider
.idea/

# Файлы Mac OS
.DS_Store

# Файлы текстового редактора Visual Studio
*.txt

# Файлы журнала исключений
*.Log
