<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title> @*данную информацию передаем из каждой новой страницы и она подставляется*@
   
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" /> @*подключение стиля*@

 
</head>
<body>
    <header>
        <span class="logo">FirstSite</span>
        <nav>
            <a href="/">Главная</a>
            <a href="/contacts">Обратная связь</a>
        </nav>
    </header>
    <main>
        @RenderBody() @*подставнока данных из доп страниц*@
    </main>
    <footer>
        Все права защищены
    </footer>
   
</body>
</html>
