body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav {
    margin-top: 10px;
}

    nav a {
        color: #fff;
        text-decoration: none;
        margin-right: 20px;
    }

        nav a:hover {
            text-decoration: underline;
        }

main {
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 36px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}

label {
    display: block; /* Делаем каждый label на новой строке */
    font-weight: bold; /* Жирный шрифт для обозначения полей */
    margin-bottom: 5px; /* Отступ снизу для разделения полей */
}

/* Общий стиль для всех input */
input {
    display: block; /* Делаем каждый input на новой строке */
    width: 100%; /* Занимает 100% ширины доступной области */
    padding: 5px; /* Внутренний отступ вокруг текста внутри input */
    margin-bottom: 10px; /* Отступ снизу для разделения полей */
    border: 1px solid #ccc; /* Рамка для input */
    border-radius: 4px; /* Закругление углов рамки */
}

/* Стиль для спанов, содержащих сообщения об ошибках */
span[data-valmsg-for] {
    color: red; /* Красный цвет текста */
    display: block; /* Делаем каждый span на новой строке */
    margin-top: 2px; /* Отступ сверху, чтобы сообщения об ошибках не прилипали к input */
}

/* Стиль для кнопки отправки формы */
input[type="submit"] {
    background-color: #007bff; /* Синий цвет фона кнопки */
    color: #fff; /* Белый цвет текста на кнопке */
    padding: 10px 15px; /* Внутренний отступ вокруг текста внутри кнопки */
    border: none; /* Убираем рамку кнопки */
    border-radius: 4px; /* Закругление углов кнопки */
    cursor: pointer; /* Изменяем курсор при наведении на кнопку */
}

    /* Стиль для кнопки отправки формы при наведении */
    input[type="submit"]:hover {
        background-color: #0056b3; /* Темно-синий цвет фона при наведении на кнопку */
    }